<!DOCTYPE html>
<html lang='en'>
<head>
{% load static %}

<meta charset='UTF-8'>
<meta name='viewport' content='width=device-width, initial-scale=1.0'>
<title> Home </title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"> 
<link rel='stylesheet' href="{% static 'css/newstyleanimate4.css' %}">
</head>
<body>
		<label>
		<!-- toggle button here -->
		<input type="checkbox">
		<div class="toggle">
			<span class="common top_line"></span>
			<span class="common middle_line"></span>
			<span class="common bottom_line"></span>
		</div>
		<div class="sidebar">
			<h1>Menu</h1>
		<ul class = 'first-ul'>

			


			<li style="--i:1"><a href="https://stormy-cove-68986.herokuapp.com"><i class="fas fa-tv"></i>Showcase</a></li>
		<li style="--i:1"><a href="https://stormy-cove-68986.herokuapp.com/accounts/member_login"><i class="far fa-user"></i>Members Login</a></li>
			<li style="--i:3"><a href="https://stormy-cove-68986.herokuapp.com/accounts/aboutme"><i class="far fa-user"></i>About Me</a></li>


			<li style="--i:3"><a href="https://fathomless-springs-69521.herokuapp.com/Stocks"><i class="far fa-tv"></i>Strat&Trackers</a></li>

			<li style="--i:3"><a href="https://fathomless-springs-69521.herokuapp.com"><i class="far fa-tv"></i>Ticker News</a></li>


			<li style="--i:2"><a href="https://stormy-cove-68986.herokuapp.com/accounts/fitness"><i class="far fa-heart"></i>Fit Mix</a></li>
			<li style="--i:5"><a href="mailto:oelkuctmp@gmail.com"><i class="far fa-comment"></i>Email</a></li>
			<li style="--i:6"><a href="https://github.com/casualfawn"><i class="far fa-folder"></i>Github</a></li>
			<li style="--i:2"><a href="https://www.buymeacoffee.com/casualfawn"><i class="far fa-heart"></i>Donate Coffee</a></li>
			<li style="--i:7"><a href="https://stormy-cove-68986.herokuapp.com/accounts/resume"><i class="far fa-address-book"></i>Resume</a></li>
		</ul class = 'first-ul'>
		</div>
	<div class='wrapper'>
		<main>
	<div class='card card-1' onclick='window.location.href="https://stormy-cove-68986.herokuapp.com/accounts/proj1/"'>
		<div class='content' >
			<h5>Deep Learning for OCR</h5>
			<p>
				Case study of implemented deep learning model for ocular character recognition of critical process measures. Written in python, uses the tensorflow API to model and predict values from continuous stream of images. 

			</p>
		</div>
		</a>
	</div>
	<div class='card card-2' onclick='window.location.href="https://stormy-cove-68986.herokuapp.com/accounts/proj2/"'>
		<div class='content'>
			<h5>Shelter Management System and Predictive Modeling</h5>
			<p> 
				Unique example of a web-application for managing and maintaining a mock-animal shelter's animal records, visit scheduling, and database. Includes an example of predictive modeling for matching at-risk animals to scheduled visitors who are likely to adopt.

			</p>
		</div>
	</a>
	</div>
	<div class='card card-3' onclick='window.location.href="https://stormy-cove-68986.herokuapp.com/accounts/proj3/"'>
		<div class='content'>
			<h5>Parameter Streaming and Trends</h5>
			<p> 
				Bread and Butter shiny application for measurements, tables, and visuals.

			</p>
		</div>
	</a>
	</div>

</main>
</div>





</label>
<div class='objects'>
	<ul class='box'>
		<li></li>
	</ul class = 'box'>
	<ul class='slowbox2'>
		<li></li>
	</ul class = 'slowbox2'>
	<ul class='box2'>
		<li></li>
	</ul class = 'box2'>
	<ul class='box5'>
		<li></li>
	</ul class = 'box5'>
	<ul class='box3'>
		<li></li>
	</ul class = 'box3'>
	<ul class='box4'>
		<li></li>
	</ul class = 'box4'>
</div>
</body>
</html>
