@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: ubuntu;
}
.wrapper{
	width: 1600px;
	max-width: 100%;
	position: fixed;
	z-index: 2;
	left: 150px;
	text-align: center;
	color: #fff;
	font-size: 50px;
	margin-top: 8%;
	margin-bottom: 15px;
}

.wrapper ul{
	height: 50px;
	display: flex;
	justify-content: center;
}
.wrapper ul li{
	display: inline-block;
	padding: 40px 15px;
}
.wrapper ul li a{
	text-decoration: none;
	color: #fff; 
	font-size: 20px;
	padding: 5px 15px;
}
.wrapper ul li a:hover{
	background: #fff;
	color: #000;
}
.wrapper h2{
	text-align: center;
	color: #fff;
	font-size: 50px;
	margin-top: 8%;
	margin-bottom: 15px;
}
.wrapper p{
	text-align: center;
	font-size: 18px;
	width: 35%;
	margin: auto;
	color:  #ddd;
	line-height: 1.7;
}
.objects{
	background:linear-gradient(to left, gray ,black );
	width: 100%;
	height: 100vh;
}

img {
	border-radius: 30px;
	padding-left: 12px;
	box-shadow: 33 33 50px 50px #159957 inset;
	width: 80%;
	height: 80%;
}



.box ul{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box li{
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255,255,255,0.2);
	box-shadow: 0 0 1px whitesmoke;
	animation:  animate 10s linear infinite;
	bottom: -150px;
	border-radius: 25%;
}
.box li:nth-child(1){
	left: 90%;
	width: 55px;
	height: 55px;
	animation-delay: 1s;
}
.box li:nth-child(2){
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box li:nth-child(3){
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box li:nth-child(4){
	left: 45%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box li:nth-child(5){
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.box li:nth-child(6){
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
@keyframes animate{
	0%{
		transform: translateY(0) scale(0);
	}
	100%{
		transform: translateY(-800px) scale(2);
		opacity: 0;
	}
}
.slowbox2 ul li{
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255,255,255,1.5);
	box-shadow: 0 0 50px whitesmoke;
	animation:  animate 9s linear infinite;
	bottom: -1100px;
	border-radius: 25%;
}
.slowbox2 li:nth-child(1){
	left: 16%;
	width: 55px;
	height: 55px;
	animation-delay: 12s;
}
.slowbox2 li:nth-child(2){
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.slowbox2 li:nth-child(3){
	left: 15%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.slowbox2 li:nth-child(4){
	left: 45%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.slowbox2 li:nth-child(5){
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.slowbox2 li:nth-child(6){
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
@keyframes animate{
	0%{
		transform: translateY(0) scale(0);
	}
	100%{
		transform: translateY(-800px) scale(2);
		opacity: 0%;
	}
}
.slowbox3 li{
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255,255,255,1.5);
	box-shadow: 0 0 50px whitesmoke;
	animation:  animate 5s linear infinite;
	bottom: -1600px;
	border-radius: 25%;
}
.slowbox3 li:nth-child(1){
	left: 20%;
	width: 55px;
	height: 55px;
	animation-delay: 5s;
}
.slowbox3 li:nth-child(2){
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.slowbox3 li:nth-child(3){
	left: 15%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.slowbox3 li:nth-child(4){
	left: 45%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.slowbox3 li:nth-child(5){
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.slowbox3 li:nth-child(6){
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
@keyframes animate{
	0%{
		transform: translateY(0) scale(0);
	}
	100%{
		transform: translateY(-800px) scale(2);
		opacity: 0%;
	}
}


.box2 ul{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box2 li{
	position: absolute;
	display: block;
	list-style: none;
	width: 15px;
	height: 5px;
	background: rgba(255,255,255,1.5);
	box-shadow: 0 0 50px whitesmoke;
	animation:  animate 10s linear infinite;
	bottom: -150px;
	border-radius: 25%;
}
.box2 li:nth-child(1){
	left: 40%;
	width: 35px;
	height: 35px;
	animation-delay: 7s;
}
.box2 li:nth-child(2){
	left: 12%;
	width: 20px;
	height: 20px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box2 li:nth-child(3){
	left: 70%;
	width: 50px;
	height: 50px;
	animation-delay: 5.5s;
}
.box2 li:nth-child(4){
	left: 45%;
	width: 75px;
	height: 75px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box2 li:nth-child(5){
	left: 65%;
	width: 25px;
	height: 25px;
	animation-delay: 0s;
}
.box2 li:nth-child(6){
	left: 15%;
	width: 50px;
	height: 50px;
	animation-delay: 13.5s;
}
@keyframes animate{
	0%{
		transform: translateY(0) scale(0);
	}
	100%{
		transform: translateY(-800px) scale(2);
		opacity: 0;
	}
}


.box5 ul{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box5 li{
	position: absolute;
	display: block;
	list-style: none;
	width: 15px;
	height: 5px;
	background: rgba(255,255,255,1.5);
	box-shadow: 0 0 50px whitesmoke;
	animation:  animate 12s linear infinite;
	bottom: -150px;
	border-radius: 25%;
}
.box5 li:nth-child(1){
	left: 17%;
	width: 35px;
	height: 35px;
	animation-delay: 7s;
}
.box5 li:nth-child(2){
	left: 12%;
	width: 20px;
	height: 20px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box5 li:nth-child(3){
	left: 70%;
	width: 50px;
	height: 50px;
	animation-delay: 5.5s;
}
.box5 li:nth-child(4){
	left: 45%;
	width: 75px;
	height: 75px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box5 li:nth-child(5){
	left: 65%;
	width: 25px;
	height: 25px;
	animation-delay: 0s;
}
.box5 li:nth-child(6){
	left: 15%;
	width: 50px;
	height: 50px;
	animation-delay: 13.5s;
}
@keyframes animate{
	0%{
		transform: translateY(0) scale(0);
	}
	100%{
		transform: translateY(-800px) scale(2);
		opacity: 0;
	}
}


.box3 ul{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box3 li{
	position: absolute;
	display: block;
	list-style: none;
	width: 25px;
	height: 25px;
	background: rgba(255,255,255,0.2);
	box-shadow: 0 0 2px whitesmoke;
	animation:  animate 10s linear infinite;
	bottom: -150px;
	border-radius: 25%;
}
.box3 li:nth-child(1){
	left: 78%;
	width: 40px;
	height: 40px;
	animation-delay: 5s;
}
.box3 li:nth-child(2){
	left: 12%;
	width: 30px;
	height: 30px;
	animation-delay: 1.5s;
	animation-duration: 9s;
}
.box3 li:nth-child(3){
	left: 70%;
	width: 100px;
	height: 100px;
	animation-delay: 5.5s;
}
.box3 li:nth-child(4){
	left: 45%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box3 li:nth-child(5){
	left: 65%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
}
.box3 li:nth-child(6){
	left: 15%;
	width: 110px;
	height: 110px;
	animation-delay: 3.5s;
}
@keyframes animate{
	0%{
		transform: translateY(0) scale(0);
	}
	100%{
		transform: translateY(-800px) scale(2);
		opacity: 0;
	}
}

.box4 ul{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.box4 li{
	position: absolute;
	display: block;
	list-style: none;
	width: 35px;
	height: 35px;
	background: rgba(255,255,255,1.5);
	box-shadow: 0 0 2px whitesmoke;
	animation:  animate 8s linear infinite;
	bottom: -250px;
	border-radius: 25%;
}
.box4 li:nth-child(1){
	left: 55%;
	width: 25px;
	height: 25px;
	animation-delay: 17s;
}
.box4 li:nth-child(2){
	left: 12%;
	width: 45px;
	height: 45px;
	animation-delay: 1.5s;
	animation-duration: 10s;
}
.box4 li:nth-child(3){
	left: 70%;
	width: 35px;
	height: 35px;
	animation-delay: 5.5s;
}
.box4 li:nth-child(4){
	left: 45%;
	width: 40px;
	height: 40px;
	animation-delay: 0s;
	animation-duration: 15s;
}
.box4 li:nth-child(5){
	left: 65%;
	width: 55px;
	height: 55px;
	animation-delay: 0s;
}
.box4 li:nth-child(6){
	left: 15%;
	width: 60px;
	height: 60px;
	animation-delay: 3.5s;
}
@keyframes animate{
	0%{
		transform: translateY(0) scale(0);
	}
	100%{
		transform: translateY(-800px) scale(2);
		opacity: 0;
	}
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
*{
	margin:  0;
	padding: 0;
	font-family: 'Poppins',sans-serif;
	box-sizing: border-box;
}
.sidebar{
	position: fixed;
	height: 100%;
	width:  200px;
	border-right:  0.8px solid rgba(255,255,255,0.2);
	transition: 1.0s ease;
	transform: translateX(-300px);
	backdrop-filter: blur(10px);
}
.sidebar h1{
	color: #fff;
	font-weight: 800;
	text-align: right;
	padding: 10px 0;
	padding-right: 30px;
	pointer-events: none;
}
.first-ul{
	position: relative;
}
ul li{
	list-style: none;
	transition: 1s ease;
	transform: translateX(calc(-200px * var(--i)));
}
ul li a{
	color: #fff;
	display: block;
	padding: 5px 15px;
	font-weight: 600;
	text-decoration: none;
	text-transform: capitalize;
}
ul li:hover a{
	color: #00ffff;
}
ul li a i{
	width: 40px;
	text-align: center;
	display: block;
}
/* style toggle button here */
input[type="checkbox"]{
	-webkit-appearance: none;
	visibility: hidden;
	display: none;
}
.toggle{
	position: absolute;
	height: 30px;
	width:  30px;
	top: 20px;
	left: 20px;
	border: 0.8px solid rgba(255,255,255,0.2);
	cursor: pointer;
	border-radius: 2px;
	z-index: 1;
}
.toggle .common{
	position: absolute;
	height: 2px;
	width:  20px;
	left: 50%;
	background: #fff;
	border-radius: 50px;
	transform: translate(-50%,-50%);
	transition: 0.3s ease;
}
.toggle .top_line{
	top: 30%;
}
.toggle .middle_line{
	top: 50%;
}
.toggle .bottom_line{
	top: 70%;
}


input[type='checkbox']:checked ~ .toggle .top_line{
	transform:  rotate(-45deg);
	left: 2px;
	top: 14px;
	width: 25px;
}
input[type='checkbox']:checked ~ .toggle .bottom_line{
	transform:  rotate(45deg);
	left: 2px;
	top: 14px;
	width: 25px;
}
input[type='checkbox']:checked ~ .toggle .middle_line{
	transform:  translateX(20px);
	opacity: 0;
}
input[type='checkbox']:checked ~  .sidebar {
	transform:  translateX(0);
}
input[type='checkbox']:checked ~  .sidebar ul li{
	transform:  translateX(calc(0 * var(--i)));
}

.scroll{
	position: relative;
	background-color: transparent;
	width: 1730px;
	height: 700px;
	margin-right: 50px;
	margin-left: 50px;
	overflow-x: hidden;
	overflow-y: auto;
	text-align:justify;
	left: -270px;
	top: -5px;
}



@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;600&display=swap');

*,
*::after,
*::before {
	margin:  0;
	padding: 0;
	box-sizing: inherit;
}

body {
	overflow: hidden;
	height: 100vh;
	width: 100%;
	box-sizing: border-box;

	background-color: #000;
}

main {
	width: 100%;
	height: 100%;
	margin-top:  325px;
	margin-left:  500px;

	max-width: 1260px;

	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 30px;
	align-items: center;
}

main .card {
	position: relative;
	left: -200px;
	top: -250px;
	width: 110%;
	height: 508px;
	cursor: pointer;
	overflow: hidden;
	transition: transform .3s ease;
	-webkit-transition: transform .3s ease;
	-moz-transition: transform .3s ease;
	-ms-transition: transform .3s ease;
	-o-transition: transform .3s ease;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-background-position: center;
	background-size: 120%;
	background-repeat: no-repeat;	
}








main .card.card-1 {
	background-image:  url('../img/proj112.png');
		left: -225px;
						top: -250px;



}

main .card.card-1:onclick {
	width: 80px;
}

main .card.card-2 {
	background-image: url("../img/proj2prev.png");					
		top: -250px;


}

main .card.card-3 {
	background-image: url('../img/proj32.png');
			left: -175px;

}

main .card.card-4 {
	background-image: url('../img/bg.png');
}

main .card .content {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	color: #fff;
	padding: 20px;
	text-align: center;
	box-sizing: border-box;
	font-family: 'Readex Pro', sans-serif;
	opacity: 0;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
	transform: translateY(100%);
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	-o-transform: translateY(100%);
	transition:  transform .3s ease;
	-webkit-transition: transform .3s ease, opacity .3s ease;
	-moz-transition: transform .3s ease, opacity .3s ease;
	-ms-transition: transform .3s ease, opacity .3s ease;
	-o-transition: transform .3s ease, opacity .3s ease;

}

main .card .content h5 {
	margin-bottom: 10px;
	font-size: 20px;
	line-height: 30px;
}
main .card .content p {
	margin-top: 10px;
	font-size: 12px;
	width: 50px;
	margin-left: 50px;
}



main .card:hover {
	transform: scale(1,1);
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-ms-transform:  scale(1,1);
	-o-transform: scale(1,1);
}

main .card:hover .content {
	opacity: 1;
	transform: translateY(0%);
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-ms-transform: translateY(0%);
	-o-transform: translateY(0%);
}

