<!DOCTYPE html>
<html lang='en'>
<head>
  {% load static %}
  <meta charset='UTF-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <title> About Me </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"> 
  <link rel='stylesheet' href="{% static 'css/newsscroll.css' %}">
</head>
<body>
  <label>
    <!-- toggle button here -->
    <input type="checkbox">
    <div class="toggle">
      <span class="common top_line"></span>
      <span class="common middle_line"></span>
      <span class="common bottom_line"></span>
    </div>
    <div class="sidebar">
    <h1>Menu</h1>
    <ul class = 'first-ul'>
      <li style="--i:1"><a href="https://stormy-cove-68986.herokuapp.com"><i class="fas fa-tv"></i>Home</a></li>
    
      <li style="--i:3"><a href="https://stormy-cove-68986.herokuapp.com/accounts/aboutme"><i class="far fa-user"></i>About Me</a></li>
      
      <li style="--i:5"><a href="mailto:oelkuctmp@gmail.com"><i class="far fa-comment"></i>Email</a></li>
      <li style="--i:6"><a href="https://github.com/casualfawn"><i class="far fa-folder"></i>Github</a></li>
      <li style="--i:2"><a href="https://www.buymeacoffee.com/casualfawn"><i class="far fa-heart"></i>Buy Me Coffee</a></li>
      <li style="--i:7"><a href="https://stormy-cove-68986.herokuapp.com/accounts/resume"><i class="far fa-address-book"></i>Resume</a></li>
    </ul class = 'first-ul'>
    </div>
    <center>

      <div class = 'wrapper'>
    <div class = 'scroll'>

      {% for title, desc, img in mylist %}
      <div class="card border-primary mb-3 bg-transparent" >
      <img src="{{ img }}" alt="image">
    <h4><span class="badge badge-primary">Headline:</span></h4>
    <h5>{{ title }}{{ value|linebreaks }}</h5>
    <h4> <span class="badge badge-success">Description:</span></h4>
    <h5>{{ desc }}{{ value|linebreaks }}</h5>
  </div>

  {% endfor %}


    </div>
    </div>
  </center>

</label>
<div class='objects'>
    <ul class='box'>
      <li></li>
    </ul class = box>
    <ul class='box2'>
      <li></li>
    </ul class = box2>
    <ul class='slowbox2'>
      <li></li>
    </ul class = slowbox2>
    <ul class='box4'>
      <li></li>
    </ul class = 'box4'>
  </div>
  </body>

</html>