<!DOCTYPE html>
<html lang='en'>
<head>
	{% load static %}

	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<title> Proj1 </title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"> 
	<link rel='stylesheet' href="{% static 'css/styleanimate3.css' %}">
</head>
<body>  
{% load static %}

	<label>
		<!-- toggle button here -->
		<input type="checkbox">
		<div class="toggle">
			<span class="common top_line"></span>
			<span class="common middle_line"></span>
			<span class="common bottom_line"></span>
		</div>
		<div class="sidebar">
			<h1>Menu</h1>
			<ul>
				<li style="--i:1"><a href="#"><i class="fas fa-tv"></i>dashboard</a></li>
				<li style="--i:2"><a href="#"><i class="far fa-heart"></i>saved</a></li>
				<li style="--i:3"><a href="#"><i class="far fa-user"></i>profile</a></li>
				<li style="--i:4"><a href="#"><i class="fab fa-gripfire"></i>trending</a></li>
				<li style="--i:5"><a href="#"><i class="far fa-comment"></i>messages</a></li>
				<li style="--i:6"><a href="#"><i class="far fa-folder"></i>files</a></li>
				<li style="--i:7"><a href="#"><i class="far fa-address-book"></i>portfolio</a></li>
				<li style="--i:8"><a href="#"><i class="fas fa-cogs"></i>settings</a></li>
			</ul>
		</div>
		<div class='wrapper'>
			<h2></h2>
			<main>
		<div class='card card-1'>
			<div class='content'>

				<h5>Shelter Management System and Predictive Modeling</h5>
				<p> 
					Some Info here about something that the card will link to.

				</p>
			</div>
		</div>
		<div class='card card-2'>
			<div class='content'>
				<h5>Card Title 1</h5>
				<p>
					Some Info here about something that the card will link to.

				</p>
			</div>
		</div>
		<div class='card card-3'>
			<div class='content'>
				<h5>Card Title 1</h5>
				<p>
					Some Info here about something that the card will link to.

				</p>
			</div>
		</div>

	</main>
	</div>






	</label>
	<div class='objects'>
		<ul class='box'>
			<li></li>
		</ul>
		<ul class='slowbox2'>
			<li></li>
		</ul>
		<ul class='box2'>
			<li></li>
		</ul>
		<ul class='box3'>
			<li></li>
		</ul>
		<ul class='box4'>
			<li></li>
		</ul>
	</div>
</body>
</html>

