<!DOCTYPE html>
<html lang='en'>
<head>
	{% load static %}
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<title> About Me </title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"> 
	<link rel='stylesheet' href="{% static 'css/aboutme2.css' %}">
</head>
<body>
		<label>
		<!-- toggle button here -->
		<input type="checkbox">
		<div class="toggle">
			<span class="common top_line"></span>
			<span class="common middle_line"></span>
			<span class="common bottom_line"></span>
		</div>
		<div class="sidebar">
			<h1>Menu</h1>
		<ul class = 'first-ul'>

		
			<li style="--i:1"><a href="https://stormy-cove-68986.herokuapp.com"><i class="fas fa-tv"></i>Showcase</a></li>
		
			<li style="--i:3"><a href="https://stormy-cove-68986.herokuapp.com/accounts/aboutme"><i class="far fa-user"></i>About Me</a></li>


			<li style="--i:3"><a href="https://fathomless-springs-69521.herokuapp.com/Stocks"><i class="far fa-tv"></i>Strat&Trackers</a></li>

			<li style="--i:3"><a href="https://fathomless-springs-69521.herokuapp.com"><i class="far fa-tv"></i>Ticker News</a></li>


			<li style="--i:2"><a href="https://stormy-cove-68986.herokuapp.com/accounts/fitness"><i class="far fa-heart"></i>Fit Mix</a></li>
			<li style="--i:5"><a href="mailto:oelkuctmp@gmail.com"><i class="far fa-comment"></i>Email</a></li>
			<li style="--i:6"><a href="https://github.com/casualfawn"><i class="far fa-folder"></i>Github</a></li>
			<li style="--i:2"><a href="https://www.buymeacoffee.com/casualfawn"><i class="far fa-heart"></i>Donate Coffee</a></li>
			<li style="--i:7"><a href="https://stormy-cove-68986.herokuapp.com/accounts/resume"><i class="far fa-address-book"></i>Resume</a></li>
		</ul class = 'first-ul'>
		</div>
		<div class='wrapper'>
			<div class = 'scroll'>
				<center>
				<p>
					<div class = 'column'>
					<img src='/static/img/aboutmelogo.png' class='wdn-stretch rounded-corners'/></p>
					</div class = 'column'> 

				<p style="text-align:left; width: 1600px; padding-left:350px; padding-top:250px; padding-bottom: 25px; font-size: 30px"><b>Greetings!</b> </p>
<p style="text-align:left; width: 800px; padding-left:240px;padding-top:-100px; padding-bottom: 30px;  text-indent: 50px; color='white';">
 	Thanks for checking out my portfolio. I hope my projects demonstrate my ability as a versatile data engineer, scientist, and developer. I believe in utilizing the vast toolbox of opensource technologies like a swiss army knife for finding creative solutions to complex problems. My core skills in data engineering and machine learning are greatly enhanced by my continously growing knowledge of data science methodology, web development, and several coding languages.</p> 
 	<p style="text-align:left; width: 800px; padding-left:240px; text-indent: 50px; padding-bottom: 30px;color='white';">
 		I am well versed in R for statistical analyses and reporting although most of my time in R is spent cleaning and formatting datasets or performing database queries. I have robust skills in developing R shiny web applications for a variety of use-cases. Whether these skills in Shiny are used for reporting metrics, data collection and management, or public-facing web apps, there are a multitude of ways they may benefit projects I am hired for. I believe in enhancing data engineering, analysis, and visualization with the flexible tools that exist in opensource technologies. </p>
<p style="text-align:left; width: 800px; padding-left:240px; padding-bottom: 30px; text-indent: 50px; color='white';">
Currently, I am improving my skills in python's django framework for web development and working towards a deeper understanding of machine learning, statistical modeling, and the Keras API. Again, my passion is utilizing opensource tools and coding languages to create solutions for companies that might seem impossible. </p> 
<p style="text-align:left; width: 800px; padding-left:240px; color='white';">
Please reach out to me via <a href="mailto:oelkuctmp@gmail.com"> oelkuctmp@gmail.com </a> to get in touch.
				</p> 
			</center>
			</div>
	</div>






	</label>
	<div class='objects'>
		<ul class='box'>
			<li></li>
		</ul class = box>
		<ul class='box2'>
			<li></li>
		</ul class = box2>
		<ul class='slowbox2'>
			<li></li>
		</ul class = slowbox2>
		<ul class='box4'>
			<li></li>
		</ul class = 'box4'>
	</div>
</body>
</html>

