{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BRAVE LAB</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css"
    />
  <link href="{% static 'calendar2/style.css' %}" rel="stylesheet" />
  </head>
  <body>
     <!-- OVERLAY
    =============================== -->
    <div class="overlay first"></div>
    <div class="overlay second"></div>
    <div class="overlay third"></div>

     <!-- HEADER
    =============================== -->
    <header class="header">
      <ul class="menu">
        <li class="menu-item"></li>
        <li class="menu-item"></li>
        <li class="menu-item"></li>
      </ul>
      <div class="logo">
      <!--  <a href="#">
          <img src="./assets/images/logo.svg" alt="Fashion Logo">
        </a> -->
      </div>
      <ul class="menu">
        <li class="menu-item bell">
          <span>
            <i class="bx bx-bell"></i>
          </span>
        </li>
      </ul>
    </header>

     <!-- MAIN
    =============================== -->
    <main class="main">
      <div class="container">
        <div class="hero">
          <h1><span class="hidetext">SPACE</span></h1>
          <h1><span class="hidetext underline">FOR</span></h1>
          <h1><span class="hidetext underline">PRIDE</span></h1>
          <p>
            <span class="hidetext"
              ></span
            >
          </p>
            <a href="http://127.0.0.1:8000/calender/">
          <button class="btn-arrow"> 
            <i class="bx bx-right-arrow-alt" > </i>
            <span>Head to the Calendar</span> </a>
          </button>
        </div>
        <div class="model">
          <div class="bg"></div>
          <img
            src="{% static 'calendar2/assets/fashion_gig4.png' %}"
            alt=""
          />
        </div>
        <div class="feature">
          <ul class="feature-list">
            <li class="feature-item">  <a href="https://www.usca.edu/diversity-initiatives/recurring-programs/lgbtqia-support-group">  USCA Website </a> </li>
            <li class="feature-item"><a href="http://127.0.0.1:8000/calender/">  Calendar and Scheduling</a> </li>
            <li class="feature-item"> <a href="https://www.usca.edu/diversity-initiatives/recurring-programs/lgbtqia-support-group">  Topics</a></li>
            <li class="feature-item"><a href="https://www.usca.edu/diversity-initiatives/recurring-programs/lgbtqia-support-group">Help Hotlines</a></li>
            <li class="feature-item"><a href="https://www.usca.edu/diversity-initiatives/recurring-programs/lgbtqia-support-group">  About the Researchers</a></li>
            <li class="feature-item"><a href="https://www.usca.edu/diversity-initiatives/recurring-programs/lgbtqia-support-group">  Contact Us</a></li>
          </ul>
        </div>
      </div>
    </main>

    <!-- icons -->
    <script src="https://unpkg.com/boxicons@2.0.9/dist/boxicons.js"></script>
    <!-- gsap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
    <!-- three js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>

    <script src="{% static 'calendar2/assets/script.js' %}" rel="stylesheet" /></script>
  </body>
</html>
