<!DOCTYPE html>
<html lang='en'>
<head>
	{% load static %}
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<title> Proj1 </title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"> 
	<link rel='stylesheet' href='css/styleanimate2.css'>
</head>
<body>
		<label>
		<!-- toggle button here -->
		<input type="checkbox">
		<div class="toggle">
			<span class="common top_line"></span>
			<span class="common middle_line"></span>
			<span class="common bottom_line"></span>
		</div>
		<div class="sidebar">
			<h1>Menu</h1>
		<ul class = 'first-ul'>

			
			<li style="--i:1"><a href="https://stormy-cove-68986.herokuapp.com"><i class="fas fa-tv"></i>Showcase</a></li>
		
			<li style="--i:3"><a href="https://stormy-cove-68986.herokuapp.com/accounts/aboutme"><i class="far fa-user"></i>About Me</a></li>


			<li style="--i:3"><a href="https://fathomless-springs-69521.herokuapp.com/Stocks"><i class="far fa-tv"></i>Strat&Trackers</a></li>

			<li style="--i:3"><a href="https://fathomless-springs-69521.herokuapp.com"><i class="far fa-tv"></i>Ticker News</a></li>


			<li style="--i:2"><a href="https://stormy-cove-68986.herokuapp.com/accounts/fitness"><i class="far fa-heart"></i>Fit Mix</a></li>
			<li style="--i:5"><a href="mailto:oelkuctmp@gmail.com"><i class="far fa-comment"></i>Email</a></li>
			<li style="--i:6"><a href="https://github.com/casualfawn"><i class="far fa-folder"></i>Github</a></li>
			<li style="--i:2"><a href="https://www.buymeacoffee.com/casualfawn"><i class="far fa-heart"></i>Donate Coffee</a></li>
			<li style="--i:7"><a href="https://stormy-cove-68986.herokuapp.com/accounts/resume"><i class="far fa-address-book"></i>Resume</a></li>
		</ul class = 'first-ul'>
		</div>
		<div class='wrapper'>
			<h2>Parameter Streaming and Trends</h2>
			<div class = 'scroll'>
				<center>
				<p>
					<img src='/static/img/proj1_ex1.png' class='wdn-stretch rounded-corners'/>
						     sometextsometextsometextsometextsometextsometextsometextsometextsometextsometextsome
					textsometextsometextsometext
					sometextsometextsometextsome
					textsometextsometextsometextsome
					textsometextsometextsometextsometext
					sometextsometextsometextsometextsometext
					sometextsometextsometextsometextsometextsometextsometextsometextsomete
					sometextsometextsometextsometextsometextsome
					textsometextsometextsometextsometextsometext
					sometextsometextsometextsometextsometextsometextsometextsometextsometextsometextsometextsometextsometextsometextsometesometextsometextsometextsome
					textsometextsometextsometext
					sometextsometextsometextsome
					textsometextsometextsometextsome
					sometextsometextsometextsome
					textsometextsometextsometext
					sometextsometextsometextsome
					textsometextsometextsometextsome
					sometextsometextsometextsome
					textsometextsometextsometext
					sometextsometextsometextsome
					textsometextsometextsometextsome
					sometextsometextsometextsome
					textsometextsometextsometext
					sometextsometextsometextsome
					textsometextsometextsometextsome


				</p> 
			</center>
			</div>
	</div>






	</label>
	<div class='objects'>
		<ul class='box'>
			<li></li>
		</ul>
		<ul class='box2'>
			<li></li>
		</ul>
		<ul class='box3'>
			<li></li>
		</ul>
		<ul class='box4'>
			<li></li>
		</ul>
	</div>
</body>
</html>

