<!DOCTYPE html>
<html lang='en'>
<head>
	{% load static %}
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<title> Parameter Streaming </title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"> 
	<link rel='stylesheet' href="{% static 'css/proj3.css' %}">
</head>
<body>
		<label>
		<!-- toggle button here -->
		<input type="checkbox">
		<div class="toggle">
			<span class="common top_line"></span>
			<span class="common middle_line"></span>
			<span class="common bottom_line"></span>
		</div>
		<div class="sidebar">
			<h1>Menu</h1>
		<ul class = 'first-ul'>

		
			<li style="--i:1"><a href="https://stormy-cove-68986.herokuapp.com"><i class="fas fa-tv"></i>Showcase</a></li>
		
			<li style="--i:3"><a href="https://stormy-cove-68986.herokuapp.com/accounts/aboutme"><i class="far fa-user"></i>About Me</a></li>


			<li style="--i:3"><a href="https://fathomless-springs-69521.herokuapp.com/Stocks"><i class="far fa-tv"></i>Strat&Trackers</a></li>

			<li style="--i:3"><a href="https://fathomless-springs-69521.herokuapp.com"><i class="far fa-tv"></i>Ticker News</a></li>


			<li style="--i:2"><a href="https://stormy-cove-68986.herokuapp.com/accounts/fitness"><i class="far fa-heart"></i>Fit Mix</a></li>
			<li style="--i:5"><a href="mailto:oelkuctmp@gmail.com"><i class="far fa-comment"></i>Email</a></li>
			<li style="--i:6"><a href="https://github.com/casualfawn"><i class="far fa-folder"></i>Github</a></li>
			<li style="--i:2"><a href="https://www.buymeacoffee.com/casualfawn"><i class="far fa-heart"></i>Buy Me Coffee</a></li>
			<li style="--i:7"><a href="https://stormy-cove-68986.herokuapp.com/accounts/resume"><i class="far fa-address-book"></i>Resume</a></li>
		</ul class = 'first-ul'>
		</div>
							<center>
										<div class='wrapper'>
			<h2 class = 'wrapper'>Parameter Streaming and Trends</h2>

			<div class = 'scroll'>
				<p style="text-align:left; width: 1600px; padding-left:90px;">
					<img src='/static/img/proj3.png' class='wdn-stretch rounded-corners'/></p>
				<p style="text-align:left; width: 1200px; padding-left:145px;"><br> <br> </p>

						     

				
				<p style="text-align:left; width: 1100px; padding-left:50px; text-indent: 0px; margin-top:30px; color='white';">
<br> 
	Pictured above is a web application based on a previous project for communicating constantly changing measurements to teammembers in charge of process optimization. Built with R, plotly, ggplot2, mongo, and shiny, this application is an opensource solution for a range of diverse problems. <br><br> <br>  <br> <br><br><b>For example, observe the plot below: </b></p>  <br>  
<p style="text-align:left; width: 1800px; padding-left:132px; margin-top:30px;">
					<img src='/static/img/graph1.png' class='wdn-stretch rounded-corners'/></p>
					<p style="text-align:left; width: 1000px; padding-left:40px; text-indent: 0px; color='white'; margin-top:70px;">
						The pictures graph from the app is used to display constantly updated values that are observed consistently throughout the day by manufacturing scientists. In checking for out of range measures (orange markers), teammembers rely on this visual to make appropriate adjustments during the process. <br> <br> <br><br> <b>Usage statistics:</b>  </p> 
						<p style="text-align:left; width: 1600px; padding-left:115px; margin-top:30px;">
					<img src='/static/img/usage.png' class='wdn-stretch rounded-corners'/></p> <br>
<p style="text-align:left; width: 1200px; padding-left:120px; text-indent: 0px; color='white';"> 
	 R Shiny is an extremely powerful data manipulation and visualization tool with limits well beyond typical reporting. Consider these examples: From scaled data intake and visualization to user-friendly frontends for database management, Shiny applications are appropriate solutions. As seen in the Animal Shelter Management project, these applications are mobile-friendly and can be embedded on pre-existing websites. If you haven't seen this implementaion of shiny, head back to the home page via the left menu... <br>
	<br>
	<br>(Although sidebar menus can also be created in R and Shiny, this website was built with Django). 
	<br>
	<br><br><br><br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>



				</p> 
			</center>
			</div>
	</div>






	</label>
	<div class='objects'>
		<ul class='box'>
			<li></li>
		</ul class = box>
		<ul class='box2'>
			<li></li>
		</ul class = box2>
		<ul class='slowbox2'>
			<li></li>
		</ul class = slowbox2>
		<ul class='box4'>
			<li></li>
		</ul class = 'box4'>
	</div>
</body>
</html>

